<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BTKIT Study Hub | Previous Year Papers</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
    <header class="navbar">
        <div class="nav-logo">
            <span class="logo-dot"></span>
            <span>BTKIT Study Hub</span>
        </div>
        <nav class="nav-links" id="navLinks">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('notes') }}" >Notes</a>
            <a href="{{ url_for('papers') }}"class="active">Papers</a>
            <a href="{{ url_for('resources') }}">Resources</a>
            <a href="{{ url_for('cgpa') }}">CGPA Calculator</a>
        </nav>
        <div class="name">
            <p>{{ name }}</p>
        </div>
        <button class="nav-toggle" id="navToggle">☰</button>
    </header>

    <section class="page-header">
        <h1>Previous Year Question Papers</h1>
        <p>Boost your preparation with previous year exam papers.</p>
        <div class="filter-container">
            <button class="filter-btn active" data-filter="all">All</button>
            <button class="filter-btn" data-filter="maths">Maths</button>
            <button class="filter-btn" data-filter="physics">Physics</button>
            <button class="filter-btn" data-filter="chemistry">Chemistry</button>
            <button class="filter-btn" data-filter="bee">BEE</button>
            <button class="filter-btn" data-filter="pps">PPS</button>
            <button class="filter-btn" data-filter="bme">BME</button>
            <button class="filter-btn" data-filter="bece">BECE</button>
            <button class="filter-btn" data-filter="evs">EVS</button>
        </div>
    </section>


    <section class="section">
        <div class="card-grid" id="papersGrid">
            <div class="card note-card" data-subject="maths">
                <h3>Introduction to Engineering Maths I (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1NO1QZzUmuBl3Ssu3KrbidMAxEaIzHUN7/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>

                </div>
            </div>
            <div class="card note-card" data-subject="chemistry">
                <h3>Engineering Chemistry (SEM-1) 2024</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1HScS8or5SrDkz6yZ08GYkS52BNhAiFeR/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="pps">
                <h3>Programming for Problem Solving (SEM-1) 2024</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1sF3HC_vaZsi2Ps2F7vw4gxMHMMP_XOXL/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="bme">
                <h3>Basic Mechanical Engineering (SEM-1) 2024</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1eb_hkjRgy0ORf39f30LcY9ETLSxC-MHp/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="bee">
                <h3>Basic Electrical Engineering (SEM-1) 2024</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1yRDk1cvDMoy-7xw3tW2JMG3vPZeUF4uS/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="maths">
                <h3>Introduction to Engineering Maths (SEM-1) 2024</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1AwwMRABVEykHPiSphcyRxZcLJGmNH4P7/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="evs">
                <h3>Environmental Studies (SEM-1) 2024</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1iWQjBTO2lns1aX6bVjGNX5DunUgwKJF3/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="pps           ">
                <h3>Programming for Problem Solving (SEM-1) 2024</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1MICDmAH3jvqLjM1-QMsFyuMvErb_QTok/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="maths">
                <h3>Introduction to Engineering Maths I (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/15y3rn_sQ-ISW1LItsqWwxmRfIwjnYyZM/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>

                </div>
            </div>

            <div class="card note-card" data-subject="chemistry">
                <h3>Engineering Chemistry (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1CrWNPE_I8ItjHspJjeW7U6ooJ_f5Qb6l/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>

            <div class="card note-card" data-subject="bme">
                <h3>Basic Mechanical Engineering (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1OH8V4UiUTGxUqth75X6KL6xevQcPwCnH/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="bece">
                <h3>Basic Electronics Engineering (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1_BxiOpxGDwuvey54Qmodhkk2TId14seU/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="physics">
                <h3>Engineering Physics (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1OuRPPRZ379GlQX-cPNHr4HmzmArxYFEL/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="pps">
                <h3>Programming for Problem Solving (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1VZ67AO98jPekGEMz1yjlW46hphE0ctiX/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="bee">
                <h3>Basic Electrical Engineering (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/1BeEQaovppbjjbKX93Ah_7_lCs6G-8i56/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>
            <div class="card note-card" data-subject="evs">
                <h3>Environmental Studies (CT-1) 2025</h3>
                <p>Full question paper with all sections.</p>
                <div class="card-actions">
                    <a href="https://drive.google.com/file/d/18nt8ln6cOYnsHvBaona2wIApOtF4cVq5/preview" target="_blank"
                        class="btn primary-sm">
                        View Paper
                    </a>
                </div>
            </div>

            <!-- Add more papers as needed -->
        </div>
    </section>

    <section class="section">
        <div class="ad-box">
            <p>Ad space for papers page.</p>
        </div>
    </section>

    <footer class="footer">
        <p>© <span id="year"></span> BTKIT Study Hub.</p>
    </footer>

    <script src="script.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>